.container {
    container : container-fluid;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
  }
  