.container {
    container : container-fluid;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 8;
    
  }
  
  .title {
    font-size: 2rem;
    color: rgb(92, 25, 224);
  }
  